Home Works!
<style>

</style>
<div class="row">
  <div ng-if="!scanning" class="col-md-12">
    <h3>Session About To begin   {{ hello }}</h3>
    <br />
    <p>
      Prepare to scan the qr code, then click "Begin Scanning"
    </p>
    <button class="btn" ng-click="beginScanning()">Begin Scanning</button>
  </div>

  <div class="col-md-12">
    <video id="viewFinder">

    </video>
  </div>
  <div class="well">
    <p>
      {{ val }}
    </p>
    <button ng-click="checkVal()">Check Val</button>
  </div>
</div>
