<style>
  .noverflow{
    overflow-x: scroll;
  }
</style>
<div class="col-sm-12">
      <div class="well">
        <h4>{{location}}</h4>
        <p>Property Data</p>
        <button ng-click="click">click to see</button>
      </div>
      <div class="row">
        <div class="col-sm-6 col-xs-12" ng-repeat="datum in dataPoints">
          <div class="well">
            <h4>{{datum['name']}}</h4>
            <div class="noverflow" id="{{datum['id']}}">

            </div>
          </div>
        </div>
      </div>
