<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- require -->
  <!-- angular -->
  <script src="node_modules/angular/angular.js"></script>
  <script src="node_modules/angular-animate/angular-animate.js"></script>
  <script src="node_modules/angular-aria/angular-aria.js"></script>
  <script src="node_modules/angular-messages/angular-messages.js"></script>
  <script src="node_modules/angular-route/angular-route.js"></script>
  <!-- pubnub -->
  <script src="node_modules/pubnub/dist/web/pubnub.js"></script>
  <!-- qrcode scanner -->
  <script src="scripts/instascan.min.js"></script>
  <!-- d3 -->
  <script src="node_modules/d3/build/d3.js"></script>
  <!-- /Scripts -->
  <script src="index.js"></script>
  <script src="controller.js"></script>
</head>
<body ng-app="myApp">
<navbar-directive></navbar-directive>
<div ng-controller="mainController" class="container-fluid text-center">
  <div ng-if="!state" class="col-xs-12">
    <ng-view></ng-view>
  </div>

  <div ng-if="state" class="col-xs-12">
    <p>
      Welcome to the main site. Click below to decide what you want to do.
    </p>
    <button ng-click="changeState()">Begin Scanning</button>
  </div>
</div>


<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
  <!-- components -->
  <!-- routes -->
  <script src="modules/home/home.controller.js"></script>
  <script src="modules/scan/scan.controller.js"></script>
  <script src="modules/dash/dash.controller.js"></script>
  <!-- directives -->
  <script src="modules/navbar/navbar.directive.js"></script>
  <!-- factories -->
  <script src="factories/scan.factory.js"></script>
  <script src="factories/data.factory.js"></script>
  <script src="factories/pubnub.factory.js"></script>
  <script src="factories/d3.factory.js"></script>
</body>
</html>
